<div id="header">
  <div class="headerGroup">
    <a href="index.html">
      <img src="img/under_computer.png" alt="Avatar" class="profileImg">
    </a>
    <link rel="stylesheet" type="text/css" href="css/bertaBoulder.css">
    <link rel="stylesheet" type="text/css" href="css/screenSizing.css">
    <div class="moi">
      <h1>Roberta Himes</h1>
      <h2>Web Developer</h2>
    </div>
    <div class="nav">
      <ul>
         <li><a href="WebLab/WebLabIndex.html">Portfolio</a></li>
         <li><a href="about.html">About</a></li>
         <li><a href="">Blog</a></li>
<!--  room for expansion
         <li>something</li>
         <li>anotherthing</li>    
-->
      </ul>
    </div>
  </div>
  <div id="closeOffHeader" ></div>
</div>  <!-- end header  -->
