#content {
   position: relative;
}

#projectList {
   margin: 0 0 0 0;
   -webkit-margin-before: 0;
   -webkit-margin-after: 0;
   -webkit-margin-end: 0;
   -webkit-margin-start: 0;
}

.portfolioEntry {
   width: 90%;
   margin-left: 5%;
   margin-right: auto;
   display: block;
}

.entryName {
   display: inline-block;
   float: left;
   width: 190px;
   line-height: 1.5em;
   font-size: 1.5em;
   margin: 5px 10px 5px 0; 
}
   
.entryDescription  {
   display: inline-block;
   width: 75%;
   font-size: 1.125em;
   margin: 5px 0 5px 0;
   padding: 0 5px 0 0;
}

.supportLink {
   font-size: 1.25em;
}
        
