body {
  width: 100%;
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
}

br {
  width: 100%;
}

.center {
   text-align: center;
}

.oneQuarter {
   width: 10%;
   margin-left: 2%;
   margin-right: 2%;
}

.talisize {
   font-style: italic;
   font-weight: 700
}

.sectionHeader {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}

.sizeIt {
  width: 75%;
  margin-left: 12%;
}

.picFormat {
  display: inline-block;
  float: left;
  width: 128px;
  height: 128px;
}

.headerPos {
  display: inline-block;
  text-align: center;
  margin: 0 auto 0 20%;
}

#header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#headerTitle {
  font-size: 1.75em;
  font-weight: bold;
  width: 100%;
  margin: 20px auto 9px auto;
  text-align: center;
}

#headerAddr {
  font-size: 1.17em;
  font-weight: bold;
  width: 100%;
  margin: 1px auto 10px auto;
  text-align: center;
}
#contact {
  width: 90%;
  margin: 0 auto0 15px; 
}
.contactTitle {
   display: inline-block;
   float: left;
}

.contactTitleLeft {
   display: inline-block;
   margin: 0 auto 0 15px;
   line-height: 1.25em;
   font-size: 1.125em;
   font-weight: 700;
}

#contactLinkedIn {
   display: inline-block;
   float: left;
   line-height: 1.25em;
   font-size: 1.125em;
}

#contactEmail {
   display: inline-block;
   float: left;
   line-height: 1.25em;
   font-size: 1em;
}

#contactGitHub {
   display: inline-block;
   float: left;
   line-height: 1.25em;
   font-size: 1em;
}

#bodyHeader {

}

#skills {
  margin-top: 25px;
  margin-bottom: 8px
}

.skillsTitle {
   display: inline-block;
   margin-left: 15px;
   float: left;
   height: 36px;
   text-align: left;
}
.skillsTitleLeft {
   display: inline-block;
   margin: 0 auto 0 10px;
   line-height: 1.5em;
   font-size: 1.125em;
   font-weight: 700;
 }
.skillsList {
   display: inline-block;
   margin: 0 auto 0 10px;
   line-height: 1.5em;
   font-size: 1.125em;
}

#experience {
  margin-top: 25px;
  margin-bottom: 8px;
  width: 100%;
}

.job {
  font-size: 1.125em;
/*  float: left;      */
  margin: 3px auto 5px 15px;
}

.jobTitle {
  width: 100%;
  text-align: left;
}

.duties {
  font-size: 1em;
  margin: 0 5% 0 30px;
}

.dutiesMarkerShort {
  line-height: 1em;
  float: left;
  display: inline-block;
  margin-right: 12px;
  height: 1em;
}

.dutiesMarkerLong {
  line-height: 1.25em;
  float: left;
  display: inline-block;
  margin-right: 12px;
  height: 2em;
}

.dutiesDescription {
  display: inline-block;
  width: 90%;
  margin: 0 7px 0;
}

#education {
  margin-top: 25px;
  margin-bottom: 8px;
  width: 100%;
}

#workHistory {
  margin-top: 25px;
  margin-bottom: 8px;
  width: 100%;
}

#eduTable {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  font-size: 1em;
}

.eduCell {
  font-size: 1.125em;
}

.headerCell {
  text-align: center;
}

.dataCell {
  text-align: left;
}
.webLab {
  font-weight:bold;
}

.dateCell {
  text-align: center;
}
.clearFloats {
   clear: both;
}

#workTable {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  font-size: 1em;
}

.workCell {
  font-size: 1em;
}

.skillsFloats {
   clear: both;
}