body {
  width: 100%;
  margin: 0;
  padding: 0; 
}

.center {
   text-align: center;
}

.oneQuarter {
   width: 10%;
   margin-left: 2%;
   margin-right: 2%;
}

.talisize {
   font-style: italic;
}

.sectionHeader {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

.sizeIt {
  width: 75%;
  margin-left: 12%;
}

#header {

}

#headerTitle {

}

#headerAddr {

}
#contact {

}
.contactTitle {
   display: inline-block;
   float: left;
   margin: 0 10 0 10;
}
.titleLeft {
   display: inline-block;
   margin: 0 10px 0 10px;
   line-height: 2em;
}

#contactLinkedIn {
   display: inline-block;
   float: left;
   line-height: 2em;
   font-size: 1.125em;
}

#contactEmail {
   display: inline-block;
   float: left;
   line-height: 2em;
   font-size: 1.125em;
}

#contactGitHub {
   display: inline-block;
   float: left;
   line-height: 2em;
   font-size: 1.125em;
}

.clearFloats {
   clear: both;
}